.header {
    color:#26225D;
    background-color: white;
}

h2 {
    position: relative;
    left: 50px;
    padding: 10px;
}

#yourStats{
    background-color: white;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#teamStats {
    background-color: white;
    margin: 20px;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h4 {
    color: #4fc4d6;
    margin-bottom: 20px;
    margin-top: 10px;
}

h3 {
    color: #26225D;
    margin: 10px;
}

p {
    color: grey;
}

body {
    background-color: lightgrey!important;
}